* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('image/picture14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    padding-top: 4px;
    padding-left: 6px;
}

.navbar ul li:hover {
    background-image: linear-gradient(45deg, #2ed247, #339eeb);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar ul li a {
    color: white;
    font-size: 25px;
    text-decoration: none;
}


.navbar ul li {
    display: inline-block;
    padding: 10px 30px;
}

.dropdown {
    display: none;
    width: 10%;
}

ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: rgba(36, 33, 33, 0.5);
    margin-top: 12px;
    margin-left: -25px;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropdown ul {
    padding: 1px;
}


.about {
    text-align: center;
    color: black;
    padding: 10px 10px 10px 10px;
    width: 70%;
    margin-top: 50px;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.about p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 20px;
}

.footer {
    color: white;
    background-color: black;
    padding-top: 30px;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer-part1 a {
    color: yellow;
}
.footer-part1 p{
    line-height: 25px;
}
.footer-part1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-col-3 {
    margin-top: -50px;
}

.footer-col-4 {
    margin-top: -15px;
}

.footer-part2 {
    margin-top: 20px;
}

.footer-part2 .fa {
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
    margin: 5px;
}

.footer-part2 .fa-facebook {
    background-color: blue;
    color: white;
    border-radius: 50%;
}

.footer-part2 .fa-twitter {
    background-color: rgb(49, 121, 255);
    color: white;
    border-radius: 50%;
}

.footer-part2 .fa-instagram {
    background-color: rgb(221, 56, 15);
    color: white;
    border-radius: 30%;
}

.footer-part2 .fa-youtube {
    background-color: red;
    color: white;
    border-radius: 30%;
}

.footer-part2 {
    text-align: center;
}

.copyright {
    padding: 5px;
    text-align: center;
    background: linear-gradient(#868F96, #596164);
    color: black;
}